$un-primary-90: #000F35;
$un-primary-80: #002269;
$un-primary-70: #0039B4;
$un-primary-60: #115DFF; // Color primario
$un-primary-50: #5D91FF;
$un-primary-40: #9CBBFF;
$un-primary-30: #CDDDFF;
$un-primary-20: #EBF0FF;
$un-primary-10: #F7F9FF;
$un-shadow:     #051029;
$un-card-border:#E5E7EC;
$un-divider-hr: rgba(#151927, 0.1);
$un-social-hover: #329bd7;
$un-stepper-unable: #d1d1d1;
$un-shadow-range: #AEAFB3;
$un-info-background: rgba(#266BFF, 0.10);
$un-divider-table: #DBDEE4;
$un-background-header-table: #F6F9FF;
$un-tab-color: #151927;

$un-grad-h: linear-gradient(90deg, #000F35 0%, #03257C 100%);
$un-grad-h-reversed: linear-gradient(90deg, #03257C 0%, #000F35 100%);
$un-grad-v: linear-gradient(180deg, #000F35 0%, #03257C 100%);
$un-grad-36: linear-gradient(-36deg, #000A60 0%, $un-primary-90 100%);
$un-grad-143: linear-gradient(-143deg, #000A60 0%, $un-primary-90 100%);
