@import 'at-digital-components/sass/index';
@import '/src/assets/scss/main-styles';

.content {
    margin: 1.6rem;
    min-height: 100vh;
}

.container {
    padding-top: 1.625rem;
}

.card {
    margin: 0 1.188rem 0 0;
    padding: 0.25rem 1.25rem 1.5rem 1.25rem;
    form {
        padding-top: 2.625rem;
        .no-rounds {
            width: 100%;
            margin: 0;
            padding: 0;
            border: 0;
        }
        .conserv-comment {
            padding: 1.031rem 0 0 0;
            margin: 0;
        }
    }
    hr {
        margin: 0;
        border-style: none;
        border-top: solid 1px $un-divider-hr;
        margin-block-start: 2.5em;
    }
}

.separator {
        padding: 0 1.188rem 0 0;
}

.right-input {
    padding: 0 0 0 1.188rem;
}

.buttons {
    display: flex;
    justify-content: flex-end;
    .button {
        padding-top: 1.813rem;
    }
}

.button-left {
    padding-right: 1.406rem;
}

.advice {
    box-shadow: 0px 0px 5px 0px rgba($color: $un-shadow, $alpha: 0.2);
    background: $un-grad-36;
    padding: 0 1rem;
    height: 100%;
    p {
        color: white;
        text-align: center;
    }
    .icon {
        color:$un-primary-60;
        display: block;
        text-align: center;
        margin: 0;
    }
    .adv-1 {
        padding-top: 0.625rem;
    }
    .adv-2 {
        padding-top: 1.875rem;
    }
}

.error {
    color: $at-red-50;
}

.successfull {
  margin: 0 auto;
}

.btn-full-width {
  width: 100%;
}

app-modal {
  img {
    width: 3rem;
    height: auto;
  }
}

@media screen and (max-width: 1023px) {
    .content {
        margin: 1.6rem 0;
        padding: 0;
    }
    .container {
        padding: 0;
        margin: 1.25rem;
    }
    .card {
        box-shadow: none;
        margin: 3rem 0 0 0;
        padding: 0;
    }
    .col-content {
        margin: 0;
        padding: 0;
    }
    .buttons {
        justify-content: center;
        .button {
            button {
                width: 9.688rem;
                height: 3.125rem;
                margin: 0;
                padding: 0;
            }
        }
    }
    .button-left {
        padding: 0;
        padding-right: 0.799rem;
    }
    .advice {
        display: none;
    }
    .separator {
        padding: 0;
    }
    .right-input {
        padding: 0;
    }
}
