<div class="menu">
    <a class="logo" href="/dashboard/my-account">
        <img src="assets/images/logo-at-color.png" alt="Logo">
    </a>
    <ul class="options">
        <li class="option at-prod-subtitle-2 bold">
            <a href="/dashboard/my-account" [class]="{'active': setActive('/my-account')}">
                <div class="menu-icon mi-cuenta"></div>
                <span>Mi cuenta</span>
            </a>
        </li>

        <li class="option disabled at-prod-subtitle-2 bold">
            <a href="" class="config-off">
                <div class="menu-icon configuracion"></div>
                <span>Configuración</span>
            </a>
        </li>
    </ul>
</div>
